* {
   background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 1em;

}

body {
  /* background-image: url(https://i.imgur.com/CgKDPlb.gif); */
  text-align: center;
  object-fit: cover;
  background-color: lightyellow;
  border-radius: 1em;
  padding: .5em;
}

body h1{
  background-color: coral;
  border-radius: 1em;
  border: solid;
  padding: .33em;
  border-color: black;
}


.grossIncome{
  background-color: rgb(229, 229, 229);
  border-radius: .5em;
  text-align: center;
  padding: 1%;
  font-size: large;
}

.submitButton{
  background-color: red;
  border-radius: .5em;
  color: white;
  padding: 1%;
}

.incomeContainer, .taxesContainer, .retirementContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid;
  border-radius: 1em;
  margin: .5em;
  background-color: rgb(229, 229, 229);
  padding-left: .5em;
  padding-right: .5em;
}
    
.taxesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


@media screen and (max-width: 560px) {
  .incomeContainer, .taxesContainer, .retirementContainer, .singleFilerContainer{
      display: grid;
      /* When Page width reaches 975px it turns to 1 column */
      /* grid-template-columns: 1fr; */
      font-size: 85%;
  }
}

.taxBracketContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}